/* BASE, COMPONENTS, UTILITIES */
@import "tailwindcss";

@theme {
    --color-primary: oklch(0.9 0 360);
    --color-secondary: oklch(0.85 0 360);
    --color-secondary-hover: oklch(0.8 0 360);
    --color-primary-font: oklch(0.2 0 360);
}

.dark {
    --color-primary: oklch(0.2 0 360);
    --color-secondary: oklch(0.25 0 360);
    --color-secondary-hover: oklch(0.3 0 360);
    --color-primary-font: oklch(0.9 0 360);
    @apply transition-all duration-200
}

@layer components {
    button {
        @apply cursor-pointer
    }
    .input {
        @apply w-full bg-secondary p-3 rounded-md outline-0;
    }
}

@utility active-input {
    @apply scale-100 top-1/2 left-1/2 -translate-1/2;
}