/* BASE, COMPONENTS, UTILITIES */
@import "tailwindcss";

@theme {
    --color-primary: oklch(1 0 360);
    --color-secondary: oklch(0.95 0 360);
}

@layer components {
    .input {
        @apply w-full bg-secondary p-3 rounded-md outline-0;
    }
}